include ../includes/content/big_picture.pug
include ../includes/content/title.pug
include ../includes/content/section.pug

#page-59c2e758197aea9115b6457b.sqs-layout.sqs-grid-12.columns-12(data-type="page" data-updated-on="1513616943309")

+title("Deep Reinforcement Learning with Hierarchical"
	, "Recurrent Encoder-Decoder for Conversation"
	)

.row.sqs-row
	.col.sqs-col-1.span-1  
		#block-377a51a1257979423374.sqs-block.spacer-block.sqs-block-spacer.sized.vsize-1(data-block-type="21")
			.sqs-block-content  
	.col.sqs-col-10.span-10
		//- #block-17f321948bf8eedab8d9.sqs-block.html-block.sqs-block-html(data-block-type="2")
		//- .sqs-block-content

		//- right now the problems are: title misaligned, space between paragraphs too large. 
		//- may need to redo the whole thing and do a rewrite
		//- at any rate this thing makes no sense, you really want something very extensivel which is not this

		+section( 'PIC-RIGHT'
			, "Abstract"
			, "This is the abstract of this blog, here we talk about stuff, here we talk about stuff here we talk about stuff here we talk about stuff here we talk about stuff. here we talk about stuff. here we talk about stuff. here we talk about stuff. here we talk about stuff.  here we talk about stuff.  here we talk about stuff.  here we talk about stuff.  here we talk about stuff.  here we talk about stuff. here we talk about stuff.here we talk about stuff.here we talk about stuff.here we talk about stuff.here we talk about stuff.here we talk about stuff.here we talk about stuff."
			, '../../assets/images/homepod-1.jpg'
			)


		+section( 'PIC-LEFT' 
			, "Introduction"
			, "This is the abstract of this blog, here we talk about stuff, here we talk about stuff here we talk about stuff here we talk about stuff here we talk about stuff. here we talk about stuff. here we talk about stuff. here we talk about stuff. here we talk about stuff.  here we talk about stuff.  here we talk about stuff.  here we talk about stuff.  here we talk about stuff.  here we talk about stuff. here we talk about stuff.here we talk about stuff.here we talk about stuff.here we talk about stuff.here we talk about stuff.here we talk about stuff.here we talk about stuff."
			, '../../assets/images/g-home-1.png'
			)

		+section( ''
			, "Section II"
			, "This is the abstract of this blog, here we talk about stuff, here we talk about stuff here we talk about stuff here we talk about stuff here we talk about stuff. here we talk about stuff. here we talk about stuff. here we talk about stuff. here we talk about stuff.  here we talk about stuff.  here we talk about stuff.  here we talk about stuff.  here we talk about stuff.  here we talk about stuff. here we talk about stuff.here we talk about stuff.here we talk about stuff.here we talk about stuff.here we talk about stuff.here we talk about stuff.here we talk about stuff."
			, '../../assets/images/g-home-1.png'
			)

		//- when we add a big picture, there is a problem in that things below get squished
		//- +big_picture('../../assets/images/hred-2.png', 'Fig 3. This is a big picture and a good caption')

		+section( 'PIC-RIGHT'
			, "Section III"
			, "This is the abstract of this blog, here we talk about stuff, here we talk about stuff here we talk about stuff here we talk about stuff here we talk about stuff. here we talk about stuff. here we talk about stuff. here we talk about stuff. here we talk about stuff.  here we talk about stuff.  here we talk about stuff.  here we talk about stuff.  here we talk about stuff.  here we talk about stuff. here we talk about stuff.here we talk about stuff.here we talk about stuff.here we talk about stuff.here we talk about stuff.here we talk about stuff.here we talk about stuff and more stuff."
			, '../../assets/images/her-1.jpg'
			)

		//- todo: figure out how to add links to string
		+section('', "TEAM", "team members and links")

//- 			h2 CONCLUSION
//- 			h2 TEAM
//- 			p
//- 				a(target="_blank" href="https://www.chloehjeong.com/") Heejin Jeong
//- 				| , Xiao Ling
//- 			h2 DETAILS 
//- 			p
//- 				a(target="_blank" href="https://github.com/lingxiao/neural-chatbot/blob/master/paper/final_hj.pdf") paper
//- 				| , 
//- 				a(target="_blank" href="https://github.com/lingxiao/neural-chatbot")  source code
//- 			p  
//- 	#block-4f3bcdfbee05ff2784a3.sqs-block.spacer-block.sqs-block-spacer.sized.vsize-1(data-block-type="21")
//- 		.sqs-block-content  
//- .col.sqs-col-1.span-1
//- #block-db409702d9e6ffa3f593.sqs-block.spacer-block.sqs-block-spacer.sized.vsize-1(data-block-type="21")
//- .sqs-block-content  
