extend ../parent-scroll.pug

block content

  include ../includes/content/title.pug
  include ../includes/content/header_2.pug
  include ../includes/content/header_3.pug
  include ../includes/content/image.pug

  // / headerWrapper
  #pageWrapper.hfeed(role='main')
    section#page(data-content-field='main-content')
      article#article-5ab1b4300e2e72081e59396c.hentry.category-social.author-benedict-evans.post-type-text(data-item-id='')
        .content-wrapper
          // SPECIAL CONTENT
          .post
            // POST HEADER


            +title( "August 1st, 2017"
                  , "Adjective Sentiment Analysis Using the"
                  , "ParaPhrase Database"
                  )

    
            // POST BODY
            .body.entry-content
              #item-5ab1b4300e2e72081e59396c.sqs-layout.sqs-grid-12.columns-12(data-layout-label='Post Body', data-type='item', data-updated-on='1521595449661')
                .row.sqs-row
                  .col.sqs-col-12.span-12
                    #block-yui_3_17_2_1_1521598810432_30584.sqs-block.html-block.sqs-block-html(data-block-type='2')
                      .sqs-block-content

                        +header_2('ABSTRACT')

                        p
                          | This is part of a multi-year project carried out along side <a target='_blank' href = 'http://veronicawharton.com/'>Veronica Wharton</a>, <a target='_blank' href='https://cs.brown.edu/people/epavlick/'>Ellie Pavlick </a> (now professor at Brown University), <a target='_blank' href='https://acocos.github.io/'> Anne Cocos </a>, supervised by <a target ='_target' href='http://www.cis.upenn.edu/~ccb/'>Chris Callison-Burch</a>. Adjectives such as fine, good, great, and out- standing are semantically similar but differ in intensity (i.e., fine, good, great). Understanding such intensity differences is crucial for fluid natural language interface. Leveraging the <a target='_blank' href ='http://paraphrase.org/#/'>ParaPhrase database</a>, we developed a pipeline to learn the relative relationship among adjectives. In particular, using the data base we constructed a directed graph where vertices are adjectives and edges are adverbs, so that if there is an edge from vertex s to t  with label u, then the string “u s” is a ParaPhrase of the string “t”. Then we developed an l1-penalized logistic regression model that inferred the relative strength of adjectives based on relationship with their neighbors. The ground truth is procured by Amazon mechanical turks. Preliminary tests show that our approach outperform the state of the art by significant margins measured by both pairwise accuracy and Kendall’s tau score. 

                        +header_2('INTRODUCTION')

                        +image('../../assets/images/G-mini-5.jpg', 'Humanistic ambient computing demands emotional intelligence from machines')

                        p
                          | One of the most exciting trends in the next decade is <em>ambient computing</em>: an ongoing, multi-modal augmented experience of the world. Ambient computing promises technology will fade into the background, and people will once again occupy the foreground in our lives. One gateway to ambient computing is voice. Presently, voice-driven consumer products such as Siri, Amazon Alexa, and Google Home has already made <a target="_blank" href="http://fortune.com/2017/09/18/amazon-sells-15m-echos/">considerable</a> <a target="_blank" href="https://chatbotsmagazine.com/the-impact-of-alexa-and-google-home-on-consumer-behavior-c5753d838a38">inroads</a> into many of our lives. In the future, a more engaging and useful dialogue system requires an even more sophisticated understanding of the endless subtlety of human speech. Modern dialogue systems rely on rich lexical knowledge base for subtlety. And one such subtlety is adjectives that are supposedly synonymous but actually differ in intensity, for example a <em>good burger </em>is different than an <em>excellent burger.</em> However, commonly used lexical resources such as <a target="_blank" href="https://wordnet.princeton.edu/">WordNet</a> do not disambiguate the varying intensity among synonymous adjectives. 


                        +header_2('TECHNICAL BACKGROUND')

                        p
                          | hello world
                          


                        +header_2('PROBLEM FORMULATION')


                        +header_2('DATA SET')

                        p
                          | hello world
                            

                        +header_2('RESULTS AND DISCUSSION')

                        p
                          | hello world


                        +header_2('CONCLUSION')

                        p
                          | hello world





