mixin title(article_title)

	#page-59c2e758197aea9115b6457b.sqs-layout.sqs-grid-12.columns-12(data-type="page" data-updated-on="")
		.row.sqs-row
			.col.sqs-col-12.span-12
				#block-31bc36482659076d2784.sqs-block.html-block.sqs-block-html(data-block-type="2")
					.sqs-block-content
						h1.text-align-center
							strong #{article_title}
							//- strong
								| Hierarchical
								br
								| Recurrent Encoder-Decoder for Conversation
				#block-a56be9e646b3401dd85e.sqs-block.image-block.sqs-block-image(data-aspect-ratio="60" data-block-type="5")
					.sqs-block-content
