.eventlist-column-thumbnail-xiao {
    display: block;
    float: left;
    width: 35%;
    height: 0;
    padding-bottom: 23.333333333333332%;
    text-decoration: none !important;
    background: rgba(110, 110, 110, .05)
}

.eventlist-column-thumbnail-xiao img {
    -webkit-transition: opacity .3s ease-in;
    -moz-transition: opacity .3s ease-in;
    -ms-transition: opacity .3s ease-in;
    -o-transition: opacity .3s ease-in;
    transition: opacity .3s ease-in
}

/*.eventlist-column-thumbnail-xiao img:not(.loaded) {*/
    /*opacity: 0*/
/*}*/
/*
body:not(.event-thumbnails) .eventlist-column-thumbnail-xiao {
    display: none
}
*/

.event-disable-item-pages .eventlist-column-thumbnail-xiao {
    cursor: default;
    pointer-events: none
}

.event-thumbnail-size-11-square .eventlist-column-thumbnail-xiao {
    padding-bottom: 35%
}

.event-thumbnail-size-32-standard .eventlist-column-thumbnail-xiao {
    padding-bottom: 23.333333333333332%
}

.event-thumbnail-size-23-standard-vertical .eventlist-column-thumbnail-xiao {
    padding-bottom: 52.5%
}

.event-thumbnail-size-43-four-thirds .eventlist-column-thumbnail-xiao {
    padding-bottom: 26.25%
}

.event-thumbnail-size-169-widescreen .eventlist-column-thumbnail-xiao {
    padding-bottom: 19.6875%
}

.event-thumbnail-size-2401-anamorphic-widescreen .eventlist-column-thumbnail-xiao {
    padding-bottom: 14.583333333333334%
}

.eventlist-column-thumbnail-xiao:empty {
    height: auto;
    min-height: 100px;
    padding-bottom: 0 !important;
    background: transparent
}


.event-list-compact-view .eventlist-column-thumbnail-xiao,
.event-list-compact-view .eventlist-column-date,
.event-list-compact-view .eventlist-column-info {
    width: 100% !important
}

.event-list-compact-view .eventlist-column-thumbnail-xiao:empty {
    min-height: 0
}

.event-list-compact-view.event-thumbnail-size-11-square .eventlist-column-thumbnail-xiao {
    padding-bottom: 100%
}

.event-list-compact-view.event-thumbnail-size-32-standard .eventlist-column-thumbnail-xiao {
    padding-bottom: 66.666%
}

.event-list-compact-view.event-thumbnail-size-23-standard-vertical .eventlist-column-thumbnail-xiao {
    padding-bottom: 150%
}

.event-list-compact-view.event-thumbnail-size-43-four-thirds .eventlist-column-thumbnail-xiao {
    padding-bottom: 75%
}

.event-list-compact-view.event-thumbnail-size-169-widescreen .eventlist-column-thumbnail-xiao {
    padding-bottom: 56.25%
}

.event-list-compact-view.event-thumbnail-size-2401-anamorphic-widescreen .eventlist-column-thumbnail-xiao {
    padding-bottom: 41.666%
}

@media only screen and (max-width:639px) {
    .eventlist-column-thumbnail-xiao,
    .eventlist-column-date,
    .eventlist-column-info {
        width: 100% !important
    }
    .eventlist-column-thumbnail-xiao:empty {
        min-height: 0
    }
    .event-thumbnail-size-11-square .eventlist-column-thumbnail-xiao {
        padding-bottom: 100%
    }
    .event-thumbnail-size-32-standard .eventlist-column-thumbnail-xiao {
        padding-bottom: 66.666%
    }
    .event-thumbnail-size-23-standard-vertical .eventlist-column-thumbnail-xiao {
        padding-bottom: 150%
    }
    .event-thumbnail-size-43-four-thirds .eventlist-column-thumbnail-xiao {
        padding-bottom: 75%
    }
    .event-thumbnail-size-169-widescreen .eventlist-column-thumbnail-xiao {
        padding-bottom: 56.25%
    }
    .event-thumbnail-size-2401-anamorphic-widescreen .eventlist-column-thumbnail-xiao {
        padding-bottom: 41.666%
    }
    .eventlist-datetag {
        left: 0;
        right: auto
    }
    .event-thumbnails .eventlist-event--hasimg .eventlist-datetag {
        left: 10px
    }
    .event-thumbnails .eventlist-event:not(.eventlist-event--hasimg) .eventlist-column-date {
        position: static;
        float: left;
        width: 70px
    }
    .event-thumbnails .eventlist-event:not(.eventlist-event--hasimg) .eventlist-column-date .eventlist-datetag {
        position: static
    }
    .eventlist-column-info {
        margin: 25.5px 0 0 0;
        padding: 0
    }
    body:not(.event-thumbnails):not(.event-date-label) .eventlist-event {
        margin-top: 34px
    }
    body:not(.event-thumbnails):not(.event-date-label) .eventlist-column-info {
        margin-top: 0
    }
    .eventitem-title {
        margin-bottom: 17px !important
    }
    .eventitem-column-meta {
        margin-bottom: 34px
    }
    .eventitem-column-meta,
    .eventitem-column-content {
        float: none;
        width: auto;
        padding: 0
    }
    .eventitem-title {
        margin-bottom: 17px !important
    }
    .eventitem-column-meta {
        margin-bottom: 34px
    }
    .eventitem-column-meta,
    .eventitem-column-content {
        float: none;
        width: auto;
        padding: 0
    }
}
