include icons/down_arrow.pug

mixin menu(art, blog, code, hero)
    
    
    //- TODO: remove background color after debugging
    .collection-nav-desc-wrapper(style='background-color:powderblue')
        #collectionDesc.collection-desc
            p
                a(href=`${art}`) Art 
                |  |
                a(href=`${blog}`)   Blog
                |  |
                a(href=`${code}`)   Code

        nav.index-navigation.collection-nav(role='navigation')

            if hero
                <a href="#about-me">
                    <i class="fas fa-flag-xiao fa-chevron-down" style='font-size:2vw'></i> &nbsp;
                </a>
            else
                <a href="https://github.com/lingxiao/lingxiaoling.me", target='_blank'>
                    <i class="fab fa-flag-xiao fa-github" style='font-size:2vw'></i>
                </a>


