include icon.pug

mixin menu(art, blog, code, src_1, src_2, src_3)
    
    
    //- TODO: remove background color after debugging
    .collection-nav-desc-wrapper(style='background-color:powderblue')
        #collectionDesc.collection-desc
            p
                a(href=`${art}`) Art 
                |  |
                a(href=`${blog}`)   Blog
                |  |
                a(href=`${code}`)   Code

        nav.index-navigation.collection-nav(role='navigation')

            <div id="quotescointainer" style='width:100%; overflow:hidden; float:center'>
                +icon(src_1)
                +icon(src_2)
                +icon(src_3)
            </div>

