main#page.site-page(role="main" data-controller="ProjectController")
  #collection-header-5728d6237c65e4dbdad6bcf5.sqs-layout.sqs-grid-12.columns-12.collection-header.empty(data-layout-label="Collection Header Content" data-type="block-field")
    .row.sqs-row
      .col.sqs-col-12.span-12
  .main-content(data-content-field="main-content")
    .project-container
      .project-slides
        .project-slide.project-slide-has-no-description.project-first-slide(data-slide-id="5728f0937c65e46333e00d6d" data-slide-url="jc90io5jt31ursa7lgbwpkdtjbqvza")
          .project-slide-image-container(data-image-dimensions="2000x1333")
            figure.project-slide-image-wrapper.content-fill.not-ready
              img.project-slide-image.loading(data-src="../assets/drawing/title.jpg" data-image="../assets/drawing/title.jpg" data-image-dimensions="" data-image-focal-point="0.5,0.5" alt="" data-fixed-ratio="true" data-load="")
        .project-slide.project-slide-has-description(data-slide-id="5728e078c2ea515918b14065" data-slide-url="5bj4ixlkpe7zy132oxy9sl0op7p1o3")
          .project-slide-image-container(data-image-dimensions="2605x3648")
            figure.project-slide-image-wrapper.content-fill.not-ready
              img.project-slide-image.loading(data-src="https://static1.squarespace.com/static/572543917c65e48584f9382f/5728d6237c65e4dbdad6bcf5/5728e078c2ea515918b14065/1462999866555/EmptyName-80.jpg" data-image="https://static1.squarespace.com/static/572543917c65e48584f9382f/5728d6237c65e4dbdad6bcf5/5728e078c2ea515918b14065/1462999866555/EmptyName-80.jpg" data-image-dimensions="2605x3648" data-image-focal-point="0.5,0.5" alt="01" data-fixed-ratio="true" data-load="false")
          .project-slide-description-wrapper
            .project-slide-description-body.has-description-title.has-description-text
              h3.project-slide-description-title 01
              .project-slide-description-text
                p
                  strong –
                  br
                  | The following text is placeholder known as “lorem ipsum,” which is scrambled Latin used by designers to mimic real copy. Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                  |                                                     Quisque tempor hendrerit gravida. Ut mollis, tortor sagittis fringilla consequat, mi sapien sagittis felis, a volutpat ex odio at ligula. Nam in enim ultricies, tempus sapien in, eleifend orci. Aliquam
                  |                                                     neque tortor, lacinia a ex eget, efficitur lacinia velit. Nam ut dui ac urna congue varius. Ut suscipit viverra lectus, a dictum nisl mattis eu. Donec fermentum, libero sit amet vulputate bibendum, nisi
                  |                                                     massa imperdiet purus, vel interdum magna dui in lectus.
        .project-slide.project-slide-has-no-description(data-slide-id="572a0d59555986630c1b2ebc" data-slide-url="hrfy308q5qy0qj7wqusnjhajo9magq")
          .project-slide-image-container(data-image-dimensions="900x644")
            figure.project-slide-image-wrapper.content-fill.not-ready
              img.project-slide-image.loading(data-src="https://static1.squarespace.com/static/572543917c65e48584f9382f/5728d6237c65e4dbdad6bcf5/572a0d59555986630c1b2ebc/1462373846981/EmptyName-72.jpg" data-image="https://static1.squarespace.com/static/572543917c65e48584f9382f/5728d6237c65e4dbdad6bcf5/572a0d59555986630c1b2ebc/1462373846981/EmptyName-72.jpg" data-image-dimensions="900x644" data-image-focal-point="0.5,0.5" alt="EmptyName-72.jpg" data-fixed-ratio="true" data-load="false")
        .project-slide.project-slide-has-description(data-slide-id="5728d6317c65e4dbdad6bd5d" data-slide-url="39felwrq455lu2nt8omh2hw7zmrx4i")
          .project-slide-image-container(data-image-dimensions="2605x3648")
            figure.project-slide-image-wrapper.content-fill.not-ready
              img.project-slide-image.loading(data-src="https://static1.squarespace.com/static/572543917c65e48584f9382f/5728d6237c65e4dbdad6bcf5/5728d6317c65e4dbdad6bd5d/1462999889694/EmptyName-81.jpg" data-image="https://static1.squarespace.com/static/572543917c65e48584f9382f/5728d6237c65e4dbdad6bcf5/5728d6317c65e4dbdad6bd5d/1462999889694/EmptyName-81.jpg" data-image-dimensions="2605x3648" data-image-focal-point="0.5,0.5" alt="02" data-fixed-ratio="true" data-load="false")
          .project-slide-description-wrapper
            .project-slide-description-body.has-description-title.has-description-text
              h3.project-slide-description-title 02
              .project-slide-description-text
                p
                  | –
                  br
                  | The following text is placeholder known as “lorem ipsum,” which is scrambled Latin used by designers to mimic real copy. Consectetur adipiscing elit. Quisque tempor hendrerit gravida. Ut mollis,
                  |                                                     tortor sagittis fringilla consequat, mi sapien sagittis felis, a volutpat ex odio at ligula. Nam in enim ultricies, tempus sapien in, eleifend orci. Aliquam neque tortor, lacinia a ex eget, efficitur
                  |                                                     lacinia velit. Nam ut dui ac urna congue varius. Ut suscipit viverra lectus, a dictum nisl mattis eu. Donec fermentum, libero sit amet vulputate bibendum, nisi massa imperdiet purus, vel interdum magna
                  |                                                     dui in lectus.
        .project-slide.project-slide-has-no-description(data-slide-id="5728ef190442626d7b8b34d0" data-slide-url="l8hekm8jr099l8rtx6zoa81ivgjlfv")
          .project-slide-image-container(data-image-dimensions="950x633")
            figure.project-slide-image-wrapper.content-fill.not-ready
              img.project-slide-image.loading(data-src="https://static1.squarespace.com/static/572543917c65e48584f9382f/5728d6237c65e4dbdad6bcf5/5728ef190442626d7b8b34d0/1462374403302/EmptyName-92.jpg" data-image="https://static1.squarespace.com/static/572543917c65e48584f9382f/5728d6237c65e4dbdad6bcf5/5728ef190442626d7b8b34d0/1462374403302/EmptyName-92.jpg" data-image-dimensions="950x633" data-image-focal-point="0.5,0.5" alt="EmptyName-92.jpg" data-fixed-ratio="true" data-load="false")
        .project-slide.project-slide-has-description(data-slide-id="5728e0cf555986ce74726744" data-slide-url="ovyhnfufjyrmgmpmvyji1g032xkm36")
          .project-slide-image-container(data-image-dimensions="2605x3648")
            figure.project-slide-image-wrapper.content-fill.not-ready
              img.project-slide-image.loading(data-src="https://static1.squarespace.com/static/572543917c65e48584f9382f/5728d6237c65e4dbdad6bcf5/5728e0cf555986ce74726744/1462999907845/EmptyName-82.jpg" data-image="https://static1.squarespace.com/static/572543917c65e48584f9382f/5728d6237c65e4dbdad6bcf5/5728e0cf555986ce74726744/1462999907845/EmptyName-82.jpg" data-image-dimensions="2605x3648" data-image-focal-point="0.5,0.5" alt="03" data-fixed-ratio="true" data-load="false")
          .project-slide-description-wrapper
            .project-slide-description-body.has-description-title.has-description-text
              h3.project-slide-description-title 03
              .project-slide-description-text
                p
                  | The following text is placeholder known as “lorem ipsum,” which is scrambled Latin used by designers to mimic real copy. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque tempor hendrerit
                  | gravida. Ut mollis, tortor sagittis fringilla consequat, mi sapien sagittis felis, a volutpat ex odio at ligula. Nam in enim ultricies, tempus sapien in, eleifend orci. Aliquam neque tortor, lacinia
                  | a ex eget.
        .project-slide.project-slide-has-description(data-slide-id="5728e47ee32140ea72e2bee6" data-slide-url="088m0lx0g8mkq220hxnxcih6tc29mh")
          .project-slide-image-container(data-image-dimensions="2605x3648")
            figure.project-slide-image-wrapper.content-fill.not-ready
              img.project-slide-image.loading(data-src="https://static1.squarespace.com/static/572543917c65e48584f9382f/5728d6237c65e4dbdad6bcf5/5728e47ee32140ea72e2bee6/1462999924555/EmptyName-83.jpg" data-image="https://static1.squarespace.com/static/572543917c65e48584f9382f/5728d6237c65e4dbdad6bcf5/5728e47ee32140ea72e2bee6/1462999924555/EmptyName-83.jpg" data-image-dimensions="2605x3648" data-image-focal-point="0.5,0.5" alt="04" data-fixed-ratio="true" data-load="false")
          .project-slide-description-wrapper
            .project-slide-description-body.has-description-title.has-description-text
              h3.project-slide-description-title 04
              .project-slide-description-text
                p
                  | –
                  br
                  | The following text is placeholder known as “lorem ipsum,” which is scrambled Latin used by designers to mimic real copy. Consectetur adipiscing elit. Quisque tempor hendrerit gravida. Ut mollis,
                  |                                                     tortor sagittis fringilla consequat, mi sapien sagittis felis, a volutpat ex odio at ligula. Nam in enim ultricies, tempus sapien in, eleifend orci. Aliquam neque tortor, lacinia a ex eget, efficitur
                  |                                                     lacinia velit. Nam ut dui ac urna congue varius. Ut suscipit viverra lectus, a dictum nisl mattis eu. Donec fermentum, libero sit amet vulputate bibendum, nisi massa imperdiet purus, vel interdum magna
                  |                                                     dui in lectus.
        .project-slide.project-slide-has-no-description(data-slide-id="572a1163c2ea51ff9143ae6f" data-slide-url="fu3apgajuq4l50da3gyg5012nug366")
          .project-slide-image-container(data-image-dimensions="900x600")
            figure.project-slide-image-wrapper.content-fill.not-ready
              img.project-slide-image.loading(data-src="https://static1.squarespace.com/static/572543917c65e48584f9382f/5728d6237c65e4dbdad6bcf5/572a1163c2ea51ff9143ae6f/1462374757731/EmptyName-115.jpg" data-image="https://static1.squarespace.com/static/572543917c65e48584f9382f/5728d6237c65e4dbdad6bcf5/572a1163c2ea51ff9143ae6f/1462374757731/EmptyName-115.jpg" data-image-dimensions="900x600" data-image-focal-point="0.5,0.5" alt="EmptyName-115.jpg" data-fixed-ratio="true" data-load="false")
        .project-slide.project-slide-has-description(data-slide-id="5728ee7f86db43223a1e08a9" data-slide-url="88m20jgsdpgpgzqth2jtnqgslq2xsk")
          .project-slide-image-container(data-image-dimensions="2605x3648")
            figure.project-slide-image-wrapper.content-fill.not-ready
              img.project-slide-image.loading(data-src="https://static1.squarespace.com/static/572543917c65e48584f9382f/5728d6237c65e4dbdad6bcf5/5728ee7f86db43223a1e08a9/1462999944560/EmptyName-85.jpg" data-image="https://static1.squarespace.com/static/572543917c65e48584f9382f/5728d6237c65e4dbdad6bcf5/5728ee7f86db43223a1e08a9/1462999944560/EmptyName-85.jpg" data-image-dimensions="2605x3648" data-image-focal-point="0.5,0.5" alt="05" data-fixed-ratio="true" data-load="false")
          .project-slide-description-wrapper
            .project-slide-description-body.has-description-title.has-description-text
              h3.project-slide-description-title 05
              .project-slide-description-text
                p
                  | –
                  br
                  | The following text is placeholder known as “lorem ipsum,” which is scrambled Latin used by designers to mimic real copy. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque tempor
                  |                                                     hendrerit gravida. Ut mollis, tortor sagittis fringilla consequat, mi sapien sagittis felis, a volutpat ex odio at ligula. Nam in enim ultricies, tempus sapien in, eleifend orci. Aliquam neque tortor,
                  |                                                     lacinia a ex eget, efficitur lacinia velit. Nam ut dui ac urna congue varius.
        .project-slide.project-slide-has-no-description(data-slide-id="572a1257c6fc081a498f7c04" data-slide-url="cngzulao0a3t9o72vi5wxbqpc51zi9")
          .project-slide-image-container(data-image-dimensions="2605x3648")
            figure.project-slide-image-wrapper.content-fill.not-ready
              img.project-slide-image.loading(data-src="https://static1.squarespace.com/static/572543917c65e48584f9382f/5728d6237c65e4dbdad6bcf5/572a1257c6fc081a498f7c04/1462375018046/EmptyName-87.jpg" data-image="https://static1.squarespace.com/static/572543917c65e48584f9382f/5728d6237c65e4dbdad6bcf5/572a1257c6fc081a498f7c04/1462375018046/EmptyName-87.jpg" data-image-dimensions="2605x3648" data-image-focal-point="0.5,0.5" alt="EmptyName-87.jpg" data-fixed-ratio="true" data-load="false")
        .project-slide.project-slide-has-description(data-slide-id="572a12bd20c647c191195f45" data-slide-url="125bcrw1kmp6eol05w92y0bcdvvv6d")
          .project-slide-image-container(data-image-dimensions="900x600")
            figure.project-slide-image-wrapper.content-fill.not-ready
              img.project-slide-image.loading(data-src="https://static1.squarespace.com/static/572543917c65e48584f9382f/5728d6237c65e4dbdad6bcf5/572a12bd20c647c191195f45/1462999971276/EmptyName-48.jpg" data-image="https://static1.squarespace.com/static/572543917c65e48584f9382f/5728d6237c65e4dbdad6bcf5/572a12bd20c647c191195f45/1462999971276/EmptyName-48.jpg" data-image-dimensions="900x600" data-image-focal-point="0.5,0.5" alt="06" data-fixed-ratio="true" data-load="false")
          .project-slide-description-wrapper
            .project-slide-description-body.has-description-title.has-description-text
              h3.project-slide-description-title 06
              .project-slide-description-text
                p
                  | –
                  br
                  | The following text is placeholder known as “lorem ipsum,” which is scrambled Latin used by designers to mimic real copy. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque tempor
                  |                                                     hendrerit gravida. Ut mollis, tortor sagittis fringilla consequat, mi sapien sagittis felis, a volutpat ex odio at ligula. Nam in enim ultricies, tempus sapien in, eleifend orci. Aliquam neque tortor,
                  |                                                     lacinia a ex eget, efficitur lacinia velit. Nam ut dui ac urna congue varius.
        .project-slide.project-slide-has-description(data-slide-id="5728ef090442626d7b8b340d" data-slide-url="yct827be429ayp6b5fnct2rb3z72dy")
          .project-slide-image-container(data-image-dimensions="2605x3648")
            figure.project-slide-image-wrapper.content-fill.not-ready
              img.project-slide-image.loading(data-src="https://static1.squarespace.com/static/572543917c65e48584f9382f/5728d6237c65e4dbdad6bcf5/5728ef090442626d7b8b340d/1462999992627/EmptyName-899.jpg" data-image="https://static1.squarespace.com/static/572543917c65e48584f9382f/5728d6237c65e4dbdad6bcf5/5728ef090442626d7b8b340d/1462999992627/EmptyName-899.jpg" data-image-dimensions="2605x3648" data-image-focal-point="0.5,0.5" alt="07" data-fixed-ratio="true" data-load="false")
          .project-slide-description-wrapper
            .project-slide-description-body.has-description-title.has-description-text
              h3.project-slide-description-title 07
              .project-slide-description-text
                p
                  | –
                  br
                  | The following text is placeholder known as “lorem ipsum,” which is scrambled Latin used by designers to mimic real copy. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque tempor
                  |                                                     hendrerit gravida. Ut mollis, tortor sagittis fringilla consequat, mi sapien sagittis felis, a volutpat ex odio at ligula. Nam in enim ultricies, tempus sapien in, eleifend orci. Aliquam neque tortor,
                  |                                                     lacinia a ex eget, efficitur lacinia velit. Nam ut dui ac urna congue varius.
        .project-slide.project-slide-has-no-description(data-slide-id="572a13aa1bbee074b56ca5d9" data-slide-url="mh6wjlihe6bbpih5bd9x6remer5yap")
          .project-slide-image-container(data-image-dimensions="1000x663")
            figure.project-slide-image-wrapper.content-fill.not-ready
              img.project-slide-image.loading(data-src="https://static1.squarespace.com/static/572543917c65e48584f9382f/5728d6237c65e4dbdad6bcf5/572a13aa1bbee074b56ca5d9/1462999998311/EmptyName-65.jpg" data-image="https://static1.squarespace.com/static/572543917c65e48584f9382f/5728d6237c65e4dbdad6bcf5/572a13aa1bbee074b56ca5d9/1462999998311/EmptyName-65.jpg" data-image-dimensions="1000x663" data-image-focal-point="0.5,0.5" alt="EmptyName-65.jpg" data-fixed-ratio="true" data-load="false")
  #collection-footer-5728d6237c65e4dbdad6bcf5.sqs-layout.sqs-grid-12.columns-12.collection-footer.empty(data-layout-label="Collection Footer Content" data-type="block-field")
    .row.sqs-row
      .col.sqs-col-12.span-12
