article.eventlist-event.eventlist-event--upcoming.eventlist-event--hasimg.eventlist-hasimg.eventlist-event--multiday
	a.eventlist-column-thumbnail.content-fill(href="")
		img.eventlist-thumbnail(data-src="https://static1.squarespace.com/static/572543917c65e48584f9382f/572a60e7d51cd42747cadf8a/572a649cb09f95675197008e/1463000120947/1.jpg" data-image="https://static1.squarespace.com/static/572543917c65e48584f9382f/572a60e7d51cd42747cadf8a/572a649cb09f95675197008e/1463000120947/1.jpg" data-image-dimensions="900x600" data-image-focal-point="0.5,0.5" alt="Pole-Wrapping Shibori" data-load="false")
	a.eventlist-column-date(href="")
		.eventlist-datetag
			.eventlist-datetag-inner
				.eventlist-datetag-startdate.eventlist-datetag-startdate--month January
				//- .eventlist-datetag-startdate.eventlist-datetag-startdate--day 4
				.eventlist-datetag-enddate 2017
				.eventlist-datetag-status
	.eventlist-column-info
		h1.eventlist-title
			a.eventlist-title-link(href="") Deep Reinforcement Learning for Dialogue Generation 

		p
			font(color='gray', font-family='squarespace-ui-font', font-weight='100')
				| This is the abstract of the project. 

	.clear