doctype html
html
    head

        title Xiao Ling
        
        link(rel='stylesheet', type='text/css', href='../assets/css/lingxiaoling.css')
        //- link(rel='stylesheet', type='text/css', href='../assets/css/squarespace.css')

    body 

            //- #mainContent.main-content(role='main')
            <div class = 'main-content'>
                <div class = 'hero-title'>
                    p
                        a Art 
                        |  &#124;
                        a   Blog
                        |  |
                        a   Code
                        |  |
                        a   ___
                </div>
            </div>


//- todos:
//-     1. make sure text renders on mobile + public deployed chrome
//-     2. make sure it scales down on browser
//-     3. make sure it 
//- 
//- 
//- 
