extend ../templates/layout-scroll.pug

block content

	include ../templates/includes/title-card.pug

	.main-content-inner-wrapper(data-content-field="main-content")
		.gallery-wrapper(data-controller="GalleryLayout")
			.slides
				.grid-wrapper


						include article.pug
						include article.pug
						include article.pug


