extend ../templates/layout-scroll.pug

block content

	include ../templates/includes/title-card.pug

	//- now I need to make them smaller and tile it two to a piece
	//- may need a different template solution

	.main-content-inner-wrapper(data-content-field="main-content")
		.gallery-wrapper(data-controller="GalleryLayout")
			.slides
				.grid-wrapper


						include article.pug
						include article.pug
						include article.pug
						//- include article.pug.html

						//- <div class="grid-image-wrapper" data-slide-id="59c1726318b27d3922681df0">
						//- 	<img data-src="../assets/images/g-home-1.png" data-image="../assets/images/g-home-2.png" data-image-dimensions="1440x807" data-image-focal-point="0.5,0.5" alt="" data-load="false" data-grid-image />

						//- 	<div class="image-title-desc" data-slide-id="59c1726318b27d3922681df0">
						//- 		<div class="image-desc">
						//- 			<p><a href="/drl-dialogue"><strong>Deep Reinforcement Learning with Hierarchical Recurrent Encoder-Decoder for Neural Conversation</strong></a></p>
						//- 		</div>
						//- 	</div>

						//- 	<div class="info-button" data-slide-id="59c1726318b27d3922681df0">
						//- 		<div class="info-button-inner">
						//- 		</div>
						//- 	</div>

						//- 	<div class="overlay blended-overlay image-overlay" data-slide-id="59c1726318b27d3922681df0">
						//- 		<a href="/drl-dialogue" class="clickthrough"></a>
						//- 	</div>

						//- </div>


	include ../templates/includes/footer.pug

