extend parent.pug

block content

    include includes/title-card.pug
    include includes/article.pug


    //- +title_card('BLOG', 'Technology, society and their relationship with each other')

    .main-content-inner-wrapper(data-content-field="main-content")
        .gallery-wrapper(data-controller="GalleryLayout")
            .slides
                .grid-wrapper

                    
                    +article('On Natural Language Processing'
                        , 'Coming' 
                        , ''
                        , 'Soon'
                        , '../assets/images/her-1.jpg'
                        , '/on-nlp'
                        , 'In this post, I discuss the current state of the art in natural langauge processing, and how the high-valued tasks in this field differs significantly from those of other "AI" tasks such as computer vision.'
                        ) 

                    +article('On Computer Vision: Technical Survey'
                        , 'Coming' 
                        , ''
                        , 'Soon'
                        , '../assets/images/neural-net-1.png'
                        , '/on-cv-tech'
                        , 'In this post, I disucss the limitations of deep learning applied to computer vision. Specifically the difference between so called "web computer vision" versus those encountered in robotics.'
                        ) 

                    +article('On Computer Vision: Commerical Applications'
                        , 'Coming' 
                        , ''
                        , 'Soon'
                        , '../assets/images/point-cloud-1.jpeg'
                        , '/on-cv-commerical'
                        , 'In this post, I disucss the limitations of deep learning applied to computer vision. Specifically the difference between so called "web computer vision" versus those encountered in robotics.'
                        ) 

//- 
                    +article('On Higher Education'
                        , 'May' 
                        , '5'
                        , '2018'
                        , '../assets/images/spartan-train-1.jpeg'
                        , '/on-education'
                        , 'Many lament higher education is broken as students spend four years beating the test, which often covers topics that is of marginal value in the real world. I argue the true priority of higher education is not information dissemination but rather ideological assimilation, so that graduates may be trusted to exercise their intellectual freedom within the narrow political framework that serves the current military and financial-industrial complex. Thus course work is merely the context in which free-thinking students are re-educated through labor, and every exam is an ideological fit test masquerading as an intellectual exercise. Seen in this light, technology cannot fix education unless they redefine the social contract between the worker, the firm, and the State.'
                        )

