extend parent-scroll.pug

block content

	include includes/title-card.pug
	include includes/article.pug

	.main-content-inner-wrapper(data-content-field="main-content")
		.gallery-wrapper(data-controller="GalleryLayout")
			.slides
				.grid-wrapper

					//- right now there's a huge problem: images do not load on click through
					//- squarespace does this standard thing where images don't load when you navigate to page

					+article('Deep Recurrent Dialogue Generation'
						, 'May' 
						, '22'
						, '2017'
						, '../assets/images/g-home-1.png'
						, '/drl-dialogue'
						, 'In this post I describe the training process of an open domain conversational agent using hierarchical hierarchical recurrent neural nets, followed by more self-training using deep reinforcement learning.'
						) 


					+article('Adjective Sentiment Analysis using The Paraphrase Database'
						, 'April' 
						, '24'
						, '2017'
						, '../assets/images/graph-1.png'
						, ''
						, 'In this post I describe the training process of an open domain conversational agent using hierarchical hierarchical recurrent neural nets, followed by more self-training using deep reinforcement learning.'
						) 


					+article('Massive Multilingual Corpus for Learning Translation From Images'
						, 'April' 
						, '1'
						, '2017'
						, '../assets/images/neural-net-1.png'
						, ''
						, 'In this post I describe the training process of an open domain conversational agent using hierarchical hierarchical recurrent neural nets, followed by more self-training using deep reinforcement learning.'
						) 


					+article('Learning Multi-modal Translations via Matrix Completion'
						, 'April' 
						, '20'
						, '2017'
						, '../assets/images/translate-1.jpg'
						, ''
						, 'In this post I describe the training process of an open domain conversational agent using hierarchical hierarchical recurrent neural nets, followed by more self-training using deep reinforcement learning.'
						) 

					+article('Random Walk in 3D'
						, 'December'
						, '1'
						, '2014'
						, '../assets/images/rand-walk-2.png'
						, ''
						, 'In this post we consider the problem of random walk in three dimensions, and show that unlike a random walk in 2D that returns to the origin infinitely often, a random walk in 3D diverges almost surely.'
						)

