extend ../templates/layout-scroll.pug

block content

	include ../templates/includes/title-card.pug

	.main-content-inner-wrapper(data-content-field="main-content")
		.gallery-wrapper(data-controller="GalleryLayout")
			.slides
				.grid-wrapper

					// Event List View
					.sqs-events-collection-list
						// Upcoming Events
						.eventlist.eventlist--upcoming

							include article.pug
							include article.pug
							include article.pug


