extend ../templates/layout-scroll.pug

block content

	include ../templates/includes/title-card.pug

	include mixins.pug

	.main-content-inner-wrapper(data-content-field="main-content")
		.gallery-wrapper(data-controller="GalleryLayout")
			.slides
				.grid-wrapper

					+person('May')
					+person('July')